langgraph
langgraph-supervisor
langgraph-swarm
langgraph-checkpoint-sqlite

langchain-core
langchain-openai
langchain-community
langchain-chroma

langsmith
python-dotenv

openai
azure-identity

scikit-learn
openevals

ipython
pyppeteer